.card{
    object-fit: cover;
    object-position: center;
    transform:scale(0.75);
    -ms-transform:scale(0.75); /* IE 9 */
    -moz-transform:scale(0.75); /* Firefox */
    -webkit-transform:scale(0.75); /* Safari and Chrome */
    -o-transform:scale(0.75); 
}

.card:hover{
    transform:scale(0.85);
    -ms-transform:scale(0.85); /* IE 9 */
    -moz-transform:scale(0.85); /* Firefox */
    -webkit-transform:scale(0.85); /* Safari and Chrome */
    -o-transform:scale(0.85); 
}