.card{

    transform:scale(5);
    -ms-transform:scale(5); /* IE 9 */
    -moz-transform:scale(5); /* Firefox */
    -webkit-transform:scale(5); /* Safari and Chrome */
    -o-transform:scale(5); 
}
